* {
    color: hsl(236, 13%, 42%);
}

:root {
    font-size: clamp(12px, calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300))), 16px);
}

body {
    font-family: 'Inter', sans-serif;
}

p {
    font-size: .95rem;
}

#nav-mobile-menu {

    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    overflow: hidden;
    z-index: 1;

}

#nav-mobile-menu nav {

    background-color: white;
    width: 70%;
    overflow: scroll;
    transition: transform 0.3s;

}

.nav-mobile-menu-opened {
    transform: translateX(0%);
}

.nav-mobile-menu-closed {
    transform: translateX(100%);
}

#nav-mobile-menu button {

    background-color: transparent;
    border-style: none;
    cursor: pointer;

}

#nav-mobile-menu a {
    font-size: 1.5rem;
}

nav a {
    color: hsl(236, 13%, 42%) !important;
}

nav a:hover {
    color: hsl(5, 85%, 63%) !important;
}

nav a:last-of-type:focus-within {

    padding-right: 1rem !important;
    outline: 3px solid hsl(5, 85%, 63%);
    outline-offset: -3px;
    box-shadow: none;

}

button[type="menu"] {

    border-style: none;
    background-color: transparent;
    padding: 0;

}

button[type="menu"] img {
    width: 50px;
}

.card-title-container {
    padding-right: 1rem !important;
}

.main-title {
    font-weight: 800;
    color: hsl(240, 100%, 5%);
}

main p {
    max-width: 587px;
}

.read-more-button {

    background-color: hsl(5, 85%, 63%);
    font-size: .8rem;
    font-family: 'Inter', sans-serif;
    letter-spacing: .25rem;
    color: hsl(36, 100%, 99%);
    max-width: 185px;
    width: 100%;

}

.read-more-button:hover {
    background-color: hsl(240, 100%, 5%);
}

.read-more-button:focus {

    background-color: hsl(5, 85%, 63%);
    outline: 3px solid hsl(240, 100%, 5%);
    outline-offset: -3px;
    box-shadow: none;

}

.read-more-button:active {
    background-color: hsl(240, 100%, 5%) !important;
}

.aside-content-container {

    width: 100%;
    height: 100%;
    background-color: hsl(240, 100%, 5%);

}

.aside-content-container * {
    color: hsl(36, 100%, 99%);
    border-color: hsl(236, 13%, 42%) !important;
}

.aside-heading {
    color: hsl(35, 77%, 62%);
}

.aside-content-container h3 a {
    text-decoration: none;
    outline: none;
}

.aside-content-container h3 a:hover {
    color: hsl(35, 77%, 62%);
}

.aside-content-container h3 a:focus {
    text-decoration: solid underline hsl(35, 77%, 62%) 3px;
}

.aside-content-container p {
    color: hsl(236, 13%, 70%);
}

body > div:last-of-type > section:last-of-type h3 {
    color: hsl(233, 8%, 79%);
}

body > div:last-of-type > section:last-of-type h4 a {

    color: hsl(240, 100%, 5%);
    text-decoration: none;
    transition: color 0.2s;
    cursor: pointer;
    outline: none;

}

body > div:last-of-type > section:last-of-type h4 a:hover {
    color: hsl(5, 85%, 63%);
}

body > div:last-of-type > section:last-of-type h4 a:focus {
    text-decoration: solid underline hsl(5, 85%, 63%) 3px;
}

@media screen and (max-width: 1199px) {

    body > div > section:last-of-type > div > div {
        max-width: 310px;
    }

}

@media screen and (min-width: 992px) and (max-width: 1199px) {

    .custom-line-height {
        line-height: 17px;
    }

}

@media screen and (min-width: 686px) {

    img[src="./assets/images/image-web-3-desktop.jpg"] {
        display: block;
    }

    img[src="./assets/images/image-web-3-mobile.jpg"] {
        display: none;
    }

}

@media screen and (max-width: 686px) {

    section:first-of-type > main > div > div:first-of-type {
        max-height: 300px;
        overflow: hidden;
    }

    img[src="./assets/images/image-web-3-desktop.jpg"] {
        display: none;
    }

    img[src="./assets/images/image-web-3-mobile.jpg"] {
        display: block;
    }

}

@media screen and (min-width: 576px) and (max-width: 618px) {

    .custom-line-height {
        line-height: 15px;
    }

}

@media screen and (max-width: 576px) {

    header > div:first-of-type img {
        max-width: 55px;
    }

    body > div > section:last-of-type > div > div {
        max-width: 390px;
    }

}

@media screen and (max-width: 370px) {

    header > div:first-of-type img {
        max-width: 45px;
    }

    button[type="menu"] img {
        width: 40px;
    }

}